{# templates/form/media_type.html.twig #}
{% block media_row %}
    {% set media=form.vars.value %}
    {% if media %}
        <a class="fa-solid fa-trash-can" href={{ path('deleteMedia', {'id' : media.id}) }}> <span class="sr-only">(current)</span></a>
        {% if (media.type) =='image' %}
            <img  src="/assets/{{ media.fileName }}" class="img-fluid card">
        {% else %}
             <iframe width="560" height="315" src="{{ media.videoUrl }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% endif %}
        <div class="form" style="display: none">
            {{ form_widget(form) }}
        </div>
    {% elseif media is defined%}
    {{ form_widget(form) }}
    {% endif %}
{% endblock %}