{# templates/form/media_type.html.twig #}
{% block media_row %}

    {% set media=form.vars.value %}
    {% if media %}
        <li class="hide-input">
            <div class="form-group">
                <legend class="col-form-label required">Media {{ media.id }}</legend>

                <a class="fa-solid fa-trash-can" href={{ path('deleteMedia', {'id' : media.id}) }}> <span class="sr-only">(current)</span></a>
                {% if (media.type) =='image' %}
                    <img src="/assets/{{ media.fileName }}" class="w-10" />
                {% else %}
                    <iframe class="w-100" src="{{ media.videoUrl }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                {% endif %}

                <div style="display: none;">
                    {{ form_widget(form) }}
                </div>
            </div>
        </li>

    {% else %}
        {{ form_row(form) }}
    {% endif %}

{% endblock %}


