{% extends "./base.html.twig" %}
        {% block body %}

            <div class="jumbotron ">
                <div class="container">
                    <div class="fond">
                        <h1>Tyhjdyhjitre</h1>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-12">
                    <h1> Les tricks  </h1>
                </div>
            {% for trick in tricks %}
                    <div class="col-sm-4">
                        <div class="card" style="width: 35rem;">
                             <div class="card-body">
                                    <h4 class="card-title">{{trick.name}}</h4>
                                    <h6 class="card-text">{{trick.description}}</h6>
                                    <p class="card-text"></p>
                                    <p class="card-text"></p>
                                    <a href="{{ path('trick', {id: trick.id}) }}" class="btn btn-primary">
                                        voir le détail du trick
                                    </a>
                                    <a class="fa-solid fa-trash-can" href={{ path('delete', {'id' : trick.id}) }}> <span class="sr-only">(current)</span></a>
                                    <a class="fa-solid  fa-pencil" href={{ path('update', {'id' : trick.id}) }}> <span class="sr-only">(current)</span></a>
                                </div>
                        </div>
                    </div>
            {% endfor %}
                </div>



        {% endblock %}

