<div class="card-deck">
    {% for trick in tricks %}
        <div class="card mb-4">
            <div class="card-body">
                {% if trick.getFirstMedia is empty %}
                    <img class="card-img-top"  src="{{asset('assets/home_image.jpg')}}" alt="Card image cap">
                {% else %}
                    <img class="card-img-top" src="assets/{{ trick.getFirstMedia.fileName }}" alt="Card image cap">
                {% endif %}
                <a href="{{ path('trick', {'slug': trick.slug}) }}" class="btn btn-warning">
                    {{trick.name}}
                </a>
                {% if is_granted ('IS_AUTHENTICATED_FULLY')%}
                <a class="fa-solid fa-trash-can" href={{ path('delete', {'id' : trick.id}) }}> <span class="sr-only">(current)</span></a>
                <a class="fa-solid  fa-pencil" href={{ path('update', {'id' : trick.id}) }}> <span class="sr-only">(current)</span></a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
