{% extends "./base.html.twig" %}
        {% block body %}
        <div class="container" id="fond_image_home">
            {% if is_granted ('IS_AUTHENTICATED_FULLY')%}
            <a class="fa-solid fa-trash-can" href={{ path('delete', {'id' : trick.id}) }}> <span class="sr-only">(current)</span></a>
            <a class="fa-solid  fa-pencil" href={{ path('update', {'id' : trick.id}) }}> <span class="sr-only">(current)</span></a>
            {% endif %}
            <img class="img-fluid" src="{{ asset('assets/home_image.jpg') }}" width="2800" height="600">

        </div>
        <!-- Section: Images -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="page-title">{{trick.name}}</h1>
                    <h3 class="gallery-title">{{trick.description}} </h3>
                    <div class="row">
                        {% for media in trick.gallery %}
                        <a href="https://unsplash.it/1200/768.jpg?image=251" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-3 col-md-4 col-6 my-3">
                                <img  src="/assets/{{ media.fileName }}" class="img-fluid card">
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

            {% if is_granted ('IS_AUTHENTICATED_FULLY')%}
        <body class="bg-gradient-primary">
            <div class="container">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-6">Ajouter un message</h1>
                                    {{ form(myform) }}
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </body>
            {% endif %}

        <body class="bg-gradient-primary">
            <div class="container">
                {% for message in messages %}
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="p-5">
                                    <div class="text-center">
                                        <img src="/assets/{{ message.author.avatar.fileName }}"  class="rounded-circle" style="width: 150px;"
                                             alt="Avatar" />
                                        <h3>{{ message.author }}</h3>
                                        <p>{{ message.content }}</p>
                                        <p>{{ message.creationDate|date("m/d/Y") }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </body>

    {% endblock %}