{% extends "./base.html.twig" %}
        {% block body %}
            {{ dump() }}

            <div class="container" id="fond_image_home">
                <a class="fa-solid fa-trash-can" href={{ path('delete', {'id' : trick.id}) }}> <span class="sr-only">(current)</span></a>
                <a class="fa-solid  fa-pencil" href={{ path('update', {'id' : trick.id}) }}> <span class="sr-only">(current)</span></a>                    <img class="img-fluid" src="{{ asset('assets/home_image.jpg') }}" width="2800" height="600">
            </div>

            <div class="col-sm-6">
                <div class="card">
                    <h1 class="card-title">{{ trick.name }}</h1>
                    <div class="card-body p-0">
                        <img src="{{ asset('assets/logo.jpeg')}}" class="rounded float-left"  >
                        <img src="{{ asset('assets/logo.jpeg')}}" class="rounded float-center" >
                        <img src="{{ asset('assets/logo.jpeg')}}" class="rounded float-right" >
                        <iframe width="200" height="200" src="https://www.youtube.com/embed/zJTfXSuWsw8" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <iframe width="200" height="200" src="https://www.youtube.com/embed/zJTfXSuWsw8" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <iframe width="200" height="200" src="https://www.youtube.com/embed/zJTfXSuWsw8" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <p class="card-text"></p>
                        <p class="card-text"></p>
                        <h6 class="card-text">{{ trick.description }}</h6>
                    </div>
                </div>
            </div>

            <body class="bg-gradient-primary">
            <div class="container">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Ajouter un message</h1>
                                    </div>
                                    {{ form(myform) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div> MESSAGES
                <ul>
                    {% for message in messages %}

                        <h3>{{ message.author }}</h3>
                        <p>{{ message.content }}</p>
                        <p>{{ message.creationDate|date("m/d/Y") }}</p>

                    {% endfor %}
                </ul>
            </div>
            </body>
        {% endblock %}